.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
}

form {
    margin-bottom: 20px;

}

input,
button {
    font-size: 16px;
    padding: 10px;

}

.tarjeta {
    border: 1px solid #5c145c;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #cebad6;
}



 .limpiar-todo {
            background-color: #ec867a;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            margin: 20px 0;
            font-size: 16px;
        } 